.footer .footer-container{
    height: 100%;
}
.footer{
    background-color: black;
    background-image: url(https://www.simbrella.com/site/templates/img/footer_bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: left;
    color: white;
}
.footer .footer-container header h2{
    color: white;
    margin: 0;
}
.footer .footer-container header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: max-content;
}
.footer .footer-container header ul li{
    display: flex;
    align-items: center;
    color: rgb(182, 182, 182);
    padding-left: 3rem;
    padding-right: 3rem;
    transition: all 150ms linear;
    font-weight: bold   ;
}
.footer .footer-container header ul li:first-child{
    border-right: 1px solid rgb(182, 182, 182);
}
.footer .footer-container header ul li:nth-child(2){
    border-right: 1px solid rgb(182, 182, 182);
}
.footer .footer-container header ul li:hover{
    cursor: pointer;
    color: orange;
}
.footer .footer-container header{
    padding-top: 1rem;
    margin-bottom: 5rem;
    align-items: center;
    height: max-content;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer .footer-container header .btn{
    background-color: transparent;
    display: inline-block;
    border-radius: 8px;
    border: 3px solid rgb(235, 233, 233) ;
    color: white;
}
.footer .footer-container header .btn > span{
    width: 9rem;
}
.footer .footer-container header .btn:hover{
    border: 3px solid orange;
}
.footer .footer-container header .btn img{
    transition: all 150ms linear;
}
.footer .footer-container header .btn:hover img{
    transform: translatex(20%);
}
.footer .footer-container footer .top .right article{
    width: 718px;
}
.footer .footer-container footer .top .right article .box{
    padding-left: 3rem;
}
.footer .footer-container footer .top .right article .box span{
    color: rgb(235, 233, 233);
}
.footer .footer-container footer .top .right article .box p{
    margin-top: 1rem;
}
.footer .footer-container footer .top .right article .box:first-child{
    padding-bottom: 2rem;
}
.footer .footer-container footer .top .right article .number-box{
    position: absolute;
    padding-top: 2rem;
}
.footer .footer-container footer .bottom .right{
    width:718px;
    padding-left: 3rem;
}
.footer .footer-container footer .bottom{
    padding-top: 15rem;
}