.numbers{
    animation: numbersAnim 1s linear;
    animation-play-state: paused;
}
.numbers .col-12 h2{ 
    color: darkblue;
}
.number{
    margin-top: 4rem;
    margin-bottom: 4rem;    
}
.numbers .number h2{
    display: inline-block;
    margin-left: 0.5rem;
    color: orange;
    font-weight: bold;
}
.numbers .number p{
    font-size: xx-small;
    font-weight: bold;
    color: gray;
}
.numbers .col-12.bottom{
    border-bottom: 1px solid rgb(204, 199, 199);
}
@keyframes numbersAnim {
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}